body 
{
	background-color: #fff;
}

p, li 
{
	color: #000;
	font: normal 14px "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	line-height: 1.4em;
}

hr 
{
	border: 0;
  width: 100%;
  color: #cde;
  background-color: #cde;
  height: 1px;
}

br 
{
	clear: both;
}

table 
{
	color: #000;
	font: normal 14px "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	line-height: 1.4em;
}

.skip 
{
	display: none;
}

#container 
{
	background: #fff;
	width: 850px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#head 
{
	padding: 10px;
	height: 30px;
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid #cde;
}

#head h1 
{
	margin-top: 0;
	margin-bottom: 0.16em;
	font: normal 28px "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	color: #357;
	float: left;
}

#head h3 
{
	margin-top:0;
	color: #666;
	font: normal 12px "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	text-align: center;
	float: right;
	line-height: 1.4em;
}

#head h3 a
{
	text-decoration: none;
}

#content 
{
	float: right;
	margin: 14px 0 14px 0;
	padding: 0 8px 0 23px;
	text-align: justify;
	width: 675px;
	border-left: 1px solid #cde;
}

#content h2 
{
	font: normal large "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	color: #357;
	/* Hide from IE Mac \*/
	border-bottom: 1px solid #cde;
	/* */
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 2px;
}

#content h2.top 
{
	margin-top: 10px;
}

#content h3 
{
	font: bold medium "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	color: #222;
	padding: 0;
}

#content h4,h5 
{
	font: bold small "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	color: #444;
	padding: 0;
}

#content h5 
{
	margin: 0;
}
	
#content span.footnote 
{
	color: #888;
	font: normal x-small "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
}

#content a 
{
	color: #357;	
}

#content a:visited 
{
	color: #638;
}

#content a:hover,
#content a:active 
{
	color: #d54;
}

#content ul.spclist li,
#content ol.spclist li 
{
	padding-bottom: 10px;
}

#content ul.legend 
{
	list-style-type: none;
	color: #000;
  margin-left: 0px;
  padding-left: 0px;
}

#content ul.legend li
{
	font: 12px "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
}

#content ul.authorlist
{
	list-style-type: none;
	color: #000;
  margin-left: 0px;
  padding-left: 0px;
}

#content .ressect 
{
	display: block;
	margin: 0 0 0 0;
	padding: 0 0 0 16px;
}

#content .resicon 
{
	display: inline;
	float: left;
	width: 146px;
	height: 146px;
	padding: 0;
	margin: 10px 16px 20px 0px;
	border: solid 1px #cde;
	text-align: center;
	vertical-align: middle;
}

#content .resicon a 
{
	text-decoration: none;
	border: none;
	padding: 0;
	margin: 0; 
}

#content .resicon img 
{
	border: none;
}

#content .restext 
{
	display: inline;
	float: left;
	width: 420px;
}

#content .restext h3 
{
	padding: 6px 0 0 0;
	margin: 0;
	color: #357;
	font: bold large "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	text-decoration: none;
	vertical-align: top;
}

#content .restext h3 a 
{
	text-decoration: none;
}
	
#content .restext p 
{
	margin: 10px 0 0 0;
} 

#content .resclose
{
	clear: both;
	display: block;
	height: 9px;
}


.fig 
{
	margin: 10px;
	background: #fff;
	float: right;
	margin: 0;
	padding: 0 0 40px 20px;
	color: #888;
	font: normal 10px verdana, sans-serif;
	text-align: center;
}

.fig a 
{
	color: #888;
}

.fig a img 
{
	border: none;
}

.fig acronym 
{
	border-bottom-color: #888;
}

.fig-caption
{
	margin: 10px;
	background: #fff;
	float: right;
	margin: 0;
	padding: 0 0 40px 20px;
	color: #888;
	font: normal 10px verdana, sans-serif;
	text-align: left;
}

.fig-caption a 
{
	color: #888;
}

.fig-caption a img 
{
	border: none;
}

.fig-caption acronym 
{
	border-bottom-color: #888;
}

.gimage 
{
	margin: 0;
	text-align: center;
	padding: 10px 0 10px 0;
	font: normal 10px verdana, sans-serif;
}

.gimage a img 
{
	border: none;
}

.equation 
{
	margin: 0;
	text-align: center;
	padding: 4px 0 2px 0;
	font: normal 10px verdana, sans-serif;
}

.equation a img 
{
	border: none;
}

.gnopad 
{
	margin: 0;
	text-align: center;
	padding: 0;
	font: normal 10px verdana, sans-serif;
}

.gnopad a img 
{
	border: none;
}

table.gimage 
{
	margin-left: auto;
	margin-right: auto;
}

#menu 
{
	clear: left;
	display: inline;
	float: left;
	margin: 12px 0 10px 0;
	padding: 8px 0 10px 0;
	height: 100%;
	width: 125px;
}

#menu ul 
{
	margin: 0 10px 0 5px;
	padding: 0;
	width: 115px;
}

#menu li 
{
	clear: left;
	float: left;
	display: inline;
	width: 100%;
}

#menu a 
{
	border-bottom: 1px solid #cde;
	color: #357;
	display: block;
	font-family: "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	text-decoration: none;
	margin: 0 0 0 5px;
	padding: 3px;
}

#menu a:hover,
#menu a:active,
#menu a:focus 
{
	background: #f6f6f6;
	border-bottom: 1px solid #f63;
	color: #d54;
}

#menu ul ul a 
{
	border-bottom: 1px solid #ecd;
	color: #375;
	display: block;
	font-weight: normal;
	text-decoration: none;
	margin: 0 0 0 5px;
	padding: 3px;
	background: #fff;
}

#menu ul ul a:hover,
#menu ul ul a:active,
#menu ul ul a:focus 
{
	background: #f6f6f6;
	border-bottom: 1px solid #f63;
	color: #d54;
}

#s_index #m_index a,
#s_home #m_home a,
#s_research #m_research a,
#s_publications #m_publications a,
#s_presentations #m_presentations a,
#s_education #m_education a,
#s_software #m_software a,
#s_misc #m_misc a,
#s_biography #m_biography a 
{
	font-weight: bold;
	background: #eee;
}

#menu ul li ul 
{
	display: none
}

#s_research #m_research ul,
#s_education #m_education ul,
#s_software #m_software ul,
#s_biography #m_biography ul 
{
	display: block
}

#s_research #m_research ul li a,
#s_education #m_education ul li a,
#s_software #m_software ul li a,
#s_biography #m_biography ul li a 
{
	font-weight: normal;
	background: #f8f8f8;
}

#foot 
{
	background: #fff;
	clear: both;
	margin-top: 5px;
	color: #666;
	border-top: 1px #cde solid;
	padding: 5px;
	font: normal 12px "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
}

#foot a,
#foot a:visited,
#foot a:hover,
#foot a:active,
#foot a:focus 
{
	color: #666;
}

.links 
{
	float: right;
	text-align: right;
}

.trail 
{
	text-align: left;
	margin: 0;
	padding: 0;
}

div.centered 
{ 
  text-align: center;
}

div.centered table 
{ 
  margin: 0 auto;
}

.authors 
{
	color: #000;
	font: normal 14px "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	line-height: 1.4em;
}

.developers
{
	color: #000;
	font: normal 14px "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	line-height: 1.4em;
}

.title
{
	color: #000;
	font: italic 14px "Lucida Bright", Georgia, "Bitstream Vera Serif", serif;
	line-height: 1.4em;
}

