/*****************************************************************************

        CSS for TeXample.net
        Author: Kjell Magne Fauske
 
******************************************************************************/

p, table, hr, .box { margin-bottom:25px; }

.box p { margin-bottom:10px; }
body {padding-top:0; margin-top:0;background-color: black;}

/* Fonts */

p {margin-bottom: 1em;}

h1, h2, h3, h4, h5, h6 {font-weight:normal;color: #700000;color:#333333;color:#4B5255;}
h1 {font-size:2.4em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1.8em;margin-bottom:0.75em;}
h3 {font-size:1.3em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
p {margin:0 0 1.5em;}

a { color: #6A3F3C;text-decoration: none;}

a:visited{color: #481616}
a:hover{border-bottom: 1px solid;}

h1 a,h2 a,h3 a, h4 a {border-bottom:none; color:#4B5255;}

/* Code */
pre, tt, code, kbd{ font-size:0.96em;}
pre {overflow:auto;}

.feedlink, .rss {background: url(img/feed-icon-12x12.png) no-repeat 2px 0.25em; padding-left: 18px;}
.figure{text-align:center;}

ul{list-style:disc;}

/* Quotes */

blockquote{
	padding-left:27px;
	margin-left:0;
	margin-right:1em;
	background:url(img/leftquote.png) no-repeat;
	font-style:italic;
}


/******* Layout ******/

/* Header */

#header{padding-top: 1em; position: relative; background-color:white;}
#header h2{margin:0; padding:0 5px 0 0; float:left;}
#header p{margin:0;line-height:45px;color:#4B5255;}
#header h2 a:hover {border-bottom:none;}

#header .container_12{background:  url(img/fract1.png) bottom no-repeat;}
.level2 #header .container_12{background:  url(img/fract2.png) bottom no-repeat;}
.level3 #header .container_12{background: white url(img/fract3.png) bottom no-repeat;}


/* Footer styles */

#footer {background-color: black; color: white; padding: 1em 0;}
#footer a {background-color: black; color: white;}

/* Navigation */

#navigation-main {padding-top:7px; }
#navigation-sec-wrapper{background-color:white;}
#navigation-sec-wrapper .container_12 {
    background: url(img/fract0.png) bottom no-repeat;
    
}


#header {list-style:none}
#header ul li {display: inline;padding: 3px; font-weight:bold;}
#navigation-main {list-style: none;padding-bottom : 7px;}
#navigation-main li, #navigation-sec li{display: inline;padding: 3px; }

#navigation-mini {text-align: right;}
#navigation-mini ul li {padding: 0; margin-left:15px;}
.nav-sec #navigation-main a {color:gray; }

.tikz #nav-tikz a, .community #nav-community a,.articles #nav-articles a,.weblog #nav-weblog a{
    background: url(img/spike.png) bottom center no-repeat ;
    padding-bottom : 29px;
}

#navigation-main a:hover {color:gray; border-bottom:none;background: url(img/spike.png) bottom center no-repeat ; padding-bottom : 29px;}

#navigation-sec {padding-top:13px; padding-bottom:13px; margin:0;}
#navigation-sec ul{padding:0; margin:0; margin-left:20px;}
#navigation-sec li{margin:0;}
#navigation-sec li a {padding:7px 17px;}
#tikz-builds #nav-tikz-builds a, #tikz-resources #nav-tikz-resources a, .tikz-examples #nav-tikz-examples a{
    background-color: #D1D7D9;

    }
    
.breadcrumbs {padding-top:10px; font-size: 90%;}
.breadcrumbs{color: gray;}
.breadcrumbs a{color: gray; text-decoration:underline;}
.level3 #navigation-main a, .level2 #navigation-main a {color:gray; }


/* Main content */

#content-wrapper {background-color: white; padding-top: 1.5em; padding-bottom: 1em;}
.wrapper {background-color:white;}
/* Hanging punctation */
/*.content-main li{margin-left:0px}
.content-main li li {margin-left:30px}*/



/* Sections */




/****
 PGF Builds
****/

.builds-latest {background-color:#D1D7D9; padding:5px;}

input.text, input.title,
textarea, select {
  margin:0.5em 0;
  border:1px solid #bbb;
}

input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border:1px solid #666;
}

input.text, 
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }


/* Contact form */

#contact-form th{text-align:right; padding-right: 1em;vertical-align:top;font-weight:normal;}
#contact-form fieldset{border: 1px solid #DADADA;padding: 1em;}
#contact-form legend {color:silver;}

/******

 TeXGallery section

******/

.pubinfo {margin-bottom:1em;color:gray;}

/* Gallery index */


.tag-table table tr{
        padding: 0 0;
        margin : 0 0;
}

.tag-table table td
{
        /*text-align: right;*/
        vertical-align: top;
        width: 220px;
        margin : 0 0px 0 0;
        padding: 0px 20px 0px 0px;
}

.tag-table table td.omega {padding-right:0;}

/* Thumbnails */
.gallery dl {margin:0; border: 1px solid silver;width: 218px; height:300px; padding:0;}
.gallery dl:hover{border-color:black;}
.gallery dl {float:left; margin-top:0; margin-left:0; margin-bottom: 10px; margin-right:20px;}
.gallery dl.omega {margin-right:0;}
.gallery dt {padding:9px; width: 200px; height: 200px;}
.gallery dt img {margin:0; padding:0;  }
.gallery dd {margin-left:0; padding:9px;}
.gallery dt a {border-bottom:none ! important;}

.galleryimage {text-align:center;}
.galleryimage a {border-bottom:none ! important;}

.example-description {max-width:50em;}
/* Taglists */
.tag-list ul{ list-style:none; margin:0; padding:0; margin-bottom:10px;}
.tag-list li{ position:relative; margin:0; padding:0;}
.tag-list a{
	display:block;
	padding:1px 0 1px 10px;
	margin:0;
}
.tag-list a:hover{ background-color: #DFDFC8; border-bottom:none;}
.tag-list span{ position:absolute;right:10px;color: #ACACAC;}
.tag-list h5 {margin:0;padding-bottom:0.5em;}

/* Paginator */
.paginator{clear:both;float:right;padding:1.5em .75em;}
.paginator .prev-na,.paginator .next-na{border:1px solid #ccc;background-color:#f9f9f9;color:#aaa;font-weight:400;padding:.3em;}
.paginator .prev a,.paginator .prev a:visited,.paginator .next a,.paginator .next a:visited{border:1px solid silver!important;background-color:#e1e1e1;color:#624F2C;font-weight:700;padding:.3em;}
.paginator a{text-decoration:none;}
.paginator .prev,.paginator .prev-na{margin-right:.5em;}
.paginator .next,.paginator .next-na{margin-left:.5em;}
.paginator .page a,.paginator .page a:visited,.paginator .curr{font-weight:400;border:1px solid silver!important;background-color:#e1e1e1;color:#624F2C;margin:0 .25em;padding:.25em;}
.paginator .curr{background-color:#936B5E;color:#fff;border:1px solid #234f32;font-weight:700;font-size:1em;}
.paginator .page a:hover,.paginator .curr a:hover,.paginator .prev a:hover,.paginator .next a:hover{background-color:#D3C9C9;border:1px solid #000!important;}

.meta {color:gray;}
p.meta{margin-bottom:0;}
.article h1 {margin-bottom: 0; margin-top:0;}

.articleinfo h1, .articleinfo h5{margin-bottom:0;}
.articleinfo p.meta{margin-bottom:1em;}
/* Aggregator */

#aggregator-entrylist h2{margin-bottom:0;}
#aggregator-entrylist p.meta {margin-bottom: 1em;}
/*
.container_12{
	background: #fff url(img/12_col.gif) repeat-y;
}
*/

/*
.cont_16
{
	background: #fff url(img/16_col.gif) repeat-y;
}


.container_12{
	background: #fff url(img/16_col.gif) repeat-y;
}

*/



#recentblogentries, #tikz-idx-examples,#idx-tikz{
    background: url(img/br460.png) top no-repeat;
    padding-top: 40px;
}

#tikz-idx-resources, #idx-community{
    background: url(img/br380.png) top no-repeat;
    padding-top: 40px;
}


#abouttexample {
    background: url(img/sum.png) top left no-repeat;
    padding-left: 40px;
    height:60px;
}

/* Comment forms */

#commentform label {width: 8em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block;}

#commentform .submit {margin-left:8.5em;}

#commentsection {

	background-color: #e0e0e0;
	padding :1em 0em 1em 1em;

	

}



#comments {padding :1em 0em 1em 1em;list-style:none;
}



.authorcomment dt{font-weight: bold;}



#comments dd {

	margin-left:2em;

	

}

