div.codeblock {
  padding: 5px;
  border: 1px solid #CCC;
  background-color: #DFEDF7;
  white-space: pre;
  overflow: auto;
}
* html body div.codeblock {
  width: 450px;
  height: 100%;
  overflow: scroll;
}
